*.pyc
*/__pycache__
.sass-cache/
venv/*
*.sqlite3
# Ignore most static files, but track the rich-text-editor and SCSS customizations
static/*
!static/js/
!static/js/rich-text-editor.js
static/bootstrap-*/
media/
.env
staticfiles/
.vscode/
.github/
debug.log
.idea/
.DS_Store
cache/