*.pyc
*/__pycache__
.sass-cache/
/secrets
.vscode/settings.json
venv/*
*.sqlite3
# Ignore most static files, but track the rich-text-editor
static/*
!static/js/
!static/js/rich-text-editor.js
media/
/srv/code/media
.env
/srv/code/venv
staticfiles/
marisa_history.csv
stat_data.txt
.vscode
debug.log
.idea