*.pyc
*/__pycache__
.sass-cache/
/secrets
/static
.vscode/settings.json
venv/*
*.sqlite3
static/
media/
/srv/code/media
.env
/srv/code/venv
staticfiles/
marisa_history.csv
stat_data.txt
.vscode
debug.log
