asgiref
bleach
Django
django-environ
django-pandas
django-summernote
django-widget-tweaks
numpy
packaging
pandas
pillow
plotly
psycopg2
python-dateutil
pytz
six
sqlparse
tenacity
tzdata
webencodings

django-simple-deploy==1.1.0