{% extends 'base.html' %}
{% block content %}

{% if post %}
<div class="card">
  <div class="card-header">
    <h2>{{ post.title }}</h2>
  </div>
  <div class="card-body">
    <p>{{ post.body }}</p>
  </div>
  <div class="card-footer">by {{post.author.first_name}} {{post.author.last_name}}
    {% if user.is_authenticated %}
<a href="{% url 'post_update' post.id %}" class="btn btn-info">Edit this post? </a>
<a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete this post? </a>
{% endif%}
  </div>
</div>
{% else %}
<div class="alert alert-info">
  <h3>There are currently no posts to show here? </h3>
</div>
{% endif %}

{%endblock content%}