{% extends 'base.html' %}
{% load static %}
{% load blog_html_extras %}
{% block content %}

{% for post in all_posts_list %}
<div class="card border-1 rounded-1 mt-2 mb-2">
  <div class="card-header">
    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
  </div>

  <div class="card-body">
 
   {% autoescape off %}  
    <div>{{ post.body|ensure_img_alt }}</div>
    {% endautoescape %}
  </div>
  <div class="card-footer">
    <p>- {{ post.author.first_name }}</p>
    <p>{{ post.created_date }}</p>
    <a class="btn btn-primary rounded-0" href="{% url 'post_edit' post.pk %}">Edit</a>
    <a class="btn btn-secondary rounded-0" href="{% url 'post_detail' post.pk %}">Detail</a>
    <a class="btn btn-danger rounded-0" href="{% url 'post_delete' post.pk %}">Delete</a>
  </div>
</div>

{% endfor %}
{% endblock content %}
