{% extends 'base.html' %}
{% load static %}
{% if user.is_authenticated %}
{% block content %}

{% for post in all_posts_list %}
<div class="card border-1 rounded-1 mt-2 mb-2">
  <div class="card-header">
    <h2>{{ post.title }}</h2>
  </div>

  <div class="card-body">
    <p><div class="badge badge-primary">{{post.tags}}</div></p>
   {% autoescape off %}  
    <p>{{ post.body }}</p> 
    {% endautoescape %}
  </div>
  <div class="card-footer">
    <p>- {{ post.author.first_name }}</p>
    <p>{{ post.created_date }}</p>
    <a class="btn btn-primary rounded-0" href="{% url 'post_edit' post.pk %}">Edit</a>
    <a class="btn btn-secondary rounded-0" href="{% url 'post_detail' post.pk %}">Detail</a>
    <a class="btn btn-danger rounded-0" href="{% url 'post_delete' post.pk %}">Delete</a>
  </div>
</div>

{% endfor %}
{% endblock content %}
{% else %}
{% block content %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">You are not logged in!</h4>
  <p>Please log in to view the blog posts.</p>
  <hr>
  <p class="mb-0"><a href="{% url 'login' %}" class="btn btn-primary">Log In</a></p>
</div>
{% endblock content %}
{% endif %}