{% extends 'base.html' %}
{% block content %}

{% if post %}
<div class="card">
  <div class="card-header rounded-0 border-0 ">
    <h2>{{ post.title }}</h2>
  </div>
  <div class="card-body rounded-0 border-0">
    <p>{{ post.body |safe}}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-2">
      <div>by {{post.author.first_name}} {{post.author.last_name}}</div>
      <div class="d-flex align-items-center gap-2">
        <img src="{% url 'post_qr_code' post.id %}" alt="QR code for {{ post.title }}" class="img-fluid" style="max-width: 90px; height: auto;">
        {% if user.is_authenticated %}
        <a href="{% url 'post_edit' post.id %}" class="btn btn-info">Edit this post? </a>
        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete this post? </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="alert alert-info">
  <h3>There are currently no posts to show here? </h3>
</div>
{% endif %}

{%endblock content%}
