{% extends 'base.html' %}
{% block content %}

{% for post in all_posts_list %}
<div class="card border-0 rounded-0">
  <div class="card-header">
    <h2>{{ post.title }}</h2>
  </div>

  <div class="card-body">
    <p>By {{ post.author.first_name }}</p>
    <p><div class="badge badge-primary">{{post.tags}}</div></p>
   {%autoescape off%}  
   
    <p>{{ post.body  }}</p> 
    {% endautoescape %}
  </div>
  <div class="card-footer">
	  <!--   <a class='btn btn-secondary' href="{% url 'post_detail' post.pk %}">detail</a> -->
  </div>
</div>
{% endfor %}
{% endblock content %}
