{%block navbar%}

<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">60hz.dev</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown"></li>
            <a class="nav-link dropdown-toggle" href="#" id="healthDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Health
            </a>
            <ul class="dropdown-menu" aria-labelledby="healthDropdown">
              <li><a class="dropdown-item" href="{% url 'stat_new' %}">New Temperature</a></li>
              <li><a class="dropdown-item" href="{% url 'symptom_new' %}">New Symptom</a></li>
              <li><a class="dropdown-item" href="{% url 'stat_plot' %}">Plots</a></li>
              <li><a class="dropdown-item" href="{% url 'stat_list' %}">List of Temperatures</a></li>
              <li><a class="dropdown-item" href="{% url 'symptoms' %}">List of Symptoms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"></li>
            <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="blogDropdown">
              <li><a class="dropdown-item" href="{% url 'blog' %}">See Blog Posts</a></li>
              <li><a class="dropdown-item" href="{% url 'post_new' %}">Create New Blog Post</a></li>
              
              
            </ul>
          </li>

        {% endif%}
    {% block user_login %}
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.first_name}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/health">Health</a></li>
            <li><a class="dropdown-item" href="/health/apple-health/">Apple Health Data</a></li>
            <li><hr class="dropdown-divider"></li>
            {% if user.is_staff %}
                <li><a class="dropdown-item" href="/admin/">Admin</a></li>
            {% endif %}
            <li class="dropdown-item">
              <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link dropdown-item" style="padding: 0; border: none; background: none;">
                  Log Out <span class="badge bg-info">{{ user.first_name }}</span>
                </button>
              </form>
          </ul>
        </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}" role="button">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          {% endif %}
          </li>
          {% endblock user_login %}
          </li>
        </ul>
      </div>
    </div>
    </nav>
    {%endblock navbar%}
