{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">

    <div class="col-lg">
        <div class="card">

            <div class="card-body">
                <div class="card-title">
                    <h1>About 60hz.dev</h1>
                    <hr>
                </div>
                <p>  
                    Some random words unrelated to this site: 
                    {% lorem 4 p random %}
                    <a class="btn btn-info btn-lg" href="https://github.com/sixtycycles/FabricRoom" role="button">See this site on
                    Github</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}