{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">

    <div class="col-lg">
        <div class="card">

            <div class="card-body">
                <div class="card-title">
                    <h1>About 60hz.dev</h1>
                    <hr>
                </div>
                <p>  This is my personal website. I may have something to show the public in the future, but for now its just for me and my people. You can check out the code on github to see what it does though!
                   </p> 
                    <a class="btn btn-info btn-lg" href="https://github.com/sixtycycles/FabricRoom" role="button">See this site on
                    Github</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}