{% extends 'base.html' %}
{% block content %}
{% load tz %}
<nav class="nav nav-tabs">
  <a href="{% url 'apple-health-upload' %}" class="nav-link ">Upload Apple Health Data</a>
  <a href="{% url 'home' %}" class="nav-link">Home (Health App)</a>
</nav>

<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">author</th> -->
      <th scope="col">author</th>
      <th scope="col">file</th>
      <th scope="col">date added</th>
      <th scope="col">proccessed status</th>
      <th scope="col">process actions</th>
      <th scope="col">edit/delete</th>


    </tr>
  </thead>
  <tbody>
    {% for upload in all_uploads %}
    <tr>
      <td>{{upload.author}}</td>
      <td>{{upload.health_data_xml}}</td>
      <td>
        {% timezone "America/Los_Angeles" %}
        {{ upload.when|localtime|date:"m/d/y g:ia"}} 
        {% endtimezone %}
      </td>
      <td>
        {% if upload.is_processed == True %} 
          <div class="badge badge-primary">processed</div> 
        {% else %} 
        <div class="badge badge-danger">not processed</div> 
        {% endif %} 
        {% if upload.is_imported == True %} 
        <br>
        <div class="badge badge-success">imported</div> 
      {% else %} 
      <div class="badge badge-warning">not imported</div> 
      {% endif %}

      </td>
      <td>
        {% if upload.is_processed == False %}
          <a href="{% url 'process-data' upload.id %}" class="btn btn-success"> Process data? </a>
        {% else %}
        {% if upload.is_imported == False %}
        <a href="{% url 'import-data' upload.id %}" class="btn btn-success"> Import Heart Rate data? </a>
        {% endif %}
        {% endif %}
      </td>
      <td>
        <a href="{% url 'apple-health-update' upload.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'apple-health-delete' upload.id %}" class="btn btn-danger">Delete</a>
      </td>
      
    
    
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}