{% extends 'base.html' %}
{% block content %}
<div class="card mb-4">
    <div class="card-header success">
       <h2> Health Stats</h2>
    </div><div class="card-body">
        <div class="card-text">
            Hi! What information do you want to enter? Please pick one of these: 
        </div>
        <ul class="nav nav-fill nav-pills">
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stat_new' %}">Add temperature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'symptom_new' %}">add new Symptom</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'stat_list' %}">Explore Data</a>
            </li>
        </ul>
        <hr>
        <div class='row'>
            <div class="col-lg-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="btn-primary nav-link" href="{% url 'stat_list' %}">List all my data!</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-primary nav-link" href="{% url 'stat_plot' %}">Plot my temperature</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">

        {% block stat_area %}
that content
{% endblock stat_area %}
</div>
</div>
    </div>
</div>






{% endblock content %}