{% extends 'base.html' %}
{% block content %}
{% load tz %}

<table class="table table-striped">
<thead>
  <tr>
    <!-- <th scope="col">author</th> -->
    <th scope="col">when</th>
    <th scope="col">temperature</th>
    <th scope="col">notes</th>
    <th scope="col">symptoms</th>
    <th scope="col">edit/delete?</th>

  </tr>
</thead>
<tbody>
{% for stat in all_health_events %}
<tr>
<!-- <td>{{ stat.author }}</td> -->
<!-- date:'P D M d' -->
<!-- we only have users in LA right now w/e -->
{% timezone "America/Los_Angeles" %}
<td>{{ stat.when|localtime|date:"m/d/y g:ia"}} </td> 
{% endtimezone %}
<td>{{ stat.temperature }}</td>
<td>{{ stat.note}}</td>

<td>{% for event in stat.get_symptoms %} <div class="badge badge-warning"> {{event }}</div>{% endfor %}</td>
<td>
  <a href="{% url 'stat_update' stat.id %}" class="btn btn-info">Edit</a>
</td>
</tr>
    
{% endfor %}
</tbody>
</table>
{% endblock content %}