{% extends 'healthstats_base.html' %}
{% block stat_area %}

{% for stat in all_health_events %}
<div class="card mb-3">
  <div class="card-header">
    <h2>{{stat.event_type}}</h2>
  </div>

  <div class="card-body">
    <p>Entered By: {{ stat.author }}</p>
    <p>Value: <span class="badge badge-primary">{{stat.value}}</span></p>
    <p>Recorded on :{{stat.when}} </p>
  </div>
  <div class="card-footer">
    <a class='btn btn-secondary' href="{% url 'stat_detail' stat.pk %}">More...</a>
  </div>
</div>
{% endfor %}
{% endblock stat_area %}