{% extends 'base.html' %}
{% block content %}
{% autoescape off %}
<h2>Pick-a-Plot!</h2>
<div class='row'>
    <div class='col'>
        <a class='btn btn-primary'href="{% url 'temp-plot' %}">Temperature </a>
        <a class='btn btn-primary'href="{% url 'heart-plot' %}">Heart Rate </a>
        <a class='btn btn-primary'href="{% url 'oxygen-plot' %}">Blood Oxygen </a>
        <a class='btn btn-primary'href="{% url 'steps-plot' %}">Steps</a>
        <a class='btn btn-info'href="{% url 'oxygen-temp-plot' %}">temp vs oxygen</a>
    </div>
</div>
<a></a>

{% endautoescape %}
{% endblock content %}