{% extends 'base.html' %}
{% load tz %}
{% block content %}
{% load markdown_extras %}
{% if stat %}
<div class="card mt-4 mb-4">
  <div class="card-header">
    {% timezone "America/Los_Angeles" %}
    <h2>{{ stat.when|localtime }}</h2>
    {% endtimezone %}
  </div>
  <div class="card-body">
    <p>Entered By: {{ stat.author }}</p>
    {% if stat.symptoms %}
    <p> Symptoms:
      {% for symptom in stat.symptoms.all %}
      <span class="badge badge-info">{{ symptom }} </span>
      {%endfor%}
    </p> 
    {% endif %}
    {% if stat.temperature %}
    Temperature(farenheit): {{stat.temperature}}
    {% endif %}

    <p>Additional Notes: {{stat.note}}</p>
  </div>
  <div class="card-footer">by {{stat.author.first_name}} {{stat.author.last_name}}
    {% if user.is_authenticated %}
    <a href="{% url 'stat_update' stat.id %}" class="btn btn-info">Edit</a>
    <a href="{% url 'stat_delete' stat.id %}" class="btn btn-danger">Delete</a>
    {% endif%}
    <p>Recorded on: {{stat.when}} </p>
  </div>
</div>
{% else %}
<div class="alert alert-info">
  <h3>There are currently no posts to show here? </h3>
</div>
{% endif %}

{% endblock content%}