{% extends 'healthstats_base.html' %}

{% block content %}

{% if symptom %}
<div class="card mt-4 mb-4">
  <div class="card-header">
    <h2>Symptom: {{ symptom.name }}</h2>
  </div>
  <div class="card-body">
    
    {% if symptom.description %}
    <p> 
       About: <br> <span class="">{{ symptom.description }} </span>
    </p> 
    {% endif %}
  </div>
  <div class="card-footer">
    {% if user.is_authenticated %}
    <a href="{% url 'symptom_update' symptom.id %}" class="btn btn-info">Edit</a>
    <a href="{% url 'symptom_delete' symptom.id %}" class="btn btn-danger">Delete</a>
    {% endif%}

  </div>
</div>
{% else %}
<div class="alert alert-info">
  <h3>There are currently no posts to show here? </h3>
</div>
{% endif %}

{% endblock content%}